#fib {
	display: inline-block;
	width: 20000px;
}

.fib {
	background-color: rgba(0,0,255,0.1);
}

.fib-left {
	float: left;
	display: inline-block;
	text-align: center;

	margin-right: 4px;
}

.fib-right {
	float: right;
	display: inline-block;
	text-align: center;

	margin-left: 4px;
}

.body {
    font-family: monospace;
}